[2018-05-26 00:49] AldaronLau opened #1 "Implement For Windows!"
# System Support Request
This library should support Windows.

[2019-07-17 19:33] pavelmachek opened #2 "Compile errors trying to build stick"
I tried to include stick in my project, but I get errors, and they don't seem easy to fix.

   Compiling stick v0.7.0
   Compiling json v0.11.13
error[E0308]: mismatched types
   --> /data/pavel/.cargo/registry/src/github.com-1ecc6299db9ec823/stick-0.7.0/src/devices.rs:249:24
    |
249 |     let old: [u8; 8] = float.load(Ordering::Relaxed).to_ne_bytes();
    |                        ^^^^^^^^^^^^^^

[2019-07-18 17:18] #2 closed

[2019-07-18 17:52] pavelmachek commented on #2
It builds now, thanks a lot!

[2020-04-13 10:25] dependabot-preview[bot] opened #4 "Dependabot couldn't fetch all your path-based dependencies"
Dependabot couldn't fetch one or more of your project's path-based Rust dependencies. The affected dependencies were `../smelling-salts/Cargo.toml`.

To use path-based dependencies with Dependabot the paths must be relative and resolve to a directory in this project's source code.

[View the update logs](https://app.dependabot.com/accounts/libcala/update-logs/29580992).

[2020-05-03 20:50] AldaronLau opened #5 "Call for Participation - Test More Joysticks On Linux"
I don't have all the possible game controllers that exist out there, and I can't afford to buy them all.  So if you have one and feel like contributing, then try it out with the simple `readme` example in the repository (`cargo run --example readme`), and make sure all the buttons return an `Event`, and that the each axis goes from -1 to 1 if it rests at 0 - joysticks (if it only goes one directio

[2020-05-04 10:27] #4 closed

[2020-05-06 08:58] sanpii commented on #5
[Steam Controller](https://store.steampowered.com/app/353370/Steam_Controller/).

Here a list what I found wrong (I don’t sure for the a/b/x/y buttons):
- `a` = cancel;
- `b` = accept;
- `x` = common;
- `y` = action;
- `lt` = Unknown Axis: 21;
- `rt` = Unknown Axis: 20;
- back left button = Button 48 is Unknown;
- back right button = Button 49 is Unknown.

All other things work fine.

[2020-05-06 14:40] AldaronLau commented on #5
Thanks!  Looks like the A/B are swapped from what they should be, x and y are correct.  Can you post the joystick ID printed in the example at start up?  Just to clarify, by back left and back right, do you mean the L/LB & R/RB buttons as they would be labelled on other controllers?

[2020-05-06 14:56] jaapschouwenburg commented on #5
__[PDP 048-082](https://www.pdp.com/en/shop/controller/pdp-wired-controller-048-082-na-wh01) (licenced Xbox One compatible)__

`Connected p1, id: E6F02A8, name: Generic X-Box pad`

- A is Cancel and B is Accept, this should probably be reversed
- LT and RT max out at at around one quarter of their maximum travel distance

__Speedlink SL-4443-SBK-01-V2 (knockoff PS3 "compatible")__

`Connected p1,

[2020-05-06 15:01] AldaronLau commented on #5
@jaapschouwenburg Thanks, I'll look into fixing this!

[2020-05-06 15:01] sanpii commented on #5
`id: 28DE1142, name: Wireless Steam Controller`

No it’s two paddle buttons on the back off the controller. The [xbox-one elite controller](https://www.xbox.com/en-US/accessories/controllers/elite-wireless-controller) has 4 labelled p1 to p4.

[2020-05-06 15:06] AldaronLau commented on #5
@sanpii Thanks.  Interesting, I've never seen a controller with those buttons!

[2020-05-06 18:17] knightpp commented on #5
[Mad Catz R.A.T. Pro X mouse](https://www.amazon.com/Mad-Catz-Ultimate-Philips-twin-eye/dp/B00V7RTHLI?th=1)
`id: 7381718, name: Mad Catz Mad Catz R.A.T. Pro X`
It is a mouse with features of a stick, mapped on scroll left/right tilt. Accept is triggered by RMB, Cancel by pushing on the scroll wheel.
Triggered events
[code]

[Xbox One S](https://www.xbox.com/en-US/accessories/controllers/xbox-wirel

[2020-05-06 20:24] AldaronLau commented on #5
@knightpp is there a left mouse button on stick with id 7381718?  What does Rz represent, the scroll wheel?  Getting steam controller to work might be tricky, since it sounds like steam client doesn't emulate the joystick in evdev, only in the old linux joystick location.

[2020-05-06 20:28] AldaronLau commented on #5
@sanpii @jaapschouwenburg I just pushed up changes to master that hopefully fixed the mapping issues, but I can't test them myself.  If you wouldn't mind doing a git pull and reporting if something still doesn't work, that'd be awesome!

[2020-05-06 20:31] sanpii commented on #5
@AldaronLau it’s fine for me!

[2020-05-06 20:50] knightpp commented on #5
If I understood right - no, left mouse button didn't show anything in the log.

Yes, `Rz 0` shows up when the scroll wheel is tilted to the left and `Rz 1` when to the right.

[2020-05-06 20:57] AldaronLau commented on #5
@knightpp Can you check to see if the changes I just pushed make it show something?

[2020-05-06 21:21] knightpp commented on #5
No, there is nothing on LMB, but I forgot to test all the mouse buttons.

<details>
  <summary>A lot of text</summary>

LMB - nothing
RMB -
[code]
Middle-click ( push scroll wheel down ) -
[code]
DPI switch button -
[code]
Forward button (on the left side ) -
[code]
Backward button (on the left side) -
[code]
Additional button (just below the forward and backward buttons) -
[code]
Tilt the scroll

[2020-05-06 23:06] lucasyvas commented on #5
I haven't got tons of time at the moment, but I may be able to help you with the official DualShock 4 over USB/bluetooth if nobody beats me to the punch.

[2020-05-06 23:44] jaapschouwenburg commented on #5
The PDP Xbox One controller (E6F02A8) now has correct mappings.

The Speedlink PS3 controller (E8F3075) has the following issues:

- Circle (id: 17) is Action but should be either Accept or Cancel
- Triangle (id:16) is Accept but should be Action

The PDP controller rumbles as long as Accept is pressed, the Speedlink doesn't rumble at all.

[2020-05-07 00:35] AldaronLau commented on #5
@knightpp I just pushed changes for the mouse, let me know if it makes sense to you.  Also added debugging stuff, so maybe left button will print *something* now.

[2020-05-07 00:37] AldaronLau commented on #5
@jaapschouwenburg I think the Speedlink PS3 controller is fixed now, maybe it'll even rumble (probably not).  If it doesn't work can you run install and run fftest, and tell me what it allows.

[2020-05-07 02:11] cinphart commented on #5
I have a Wii U Pro Controller, but the test program doesn't appear to recognize it at all. It does show up in firefox when I try https://html5gamepad.com/. It's connected through bluetooth (the only way to connect this controller), not sure if that makes a difference. htm5gamepad.com gives the id as:

057e-0330-Nintendo Wii Remote Pro Controller

[2020-05-07 03:34] AldaronLau commented on #5
@cinphart PS4 should be fixed on master now, thanks!  I wonder if stick can only read usb controllers at the moment, I'm going to attempt to get Nintendo switch joycons working once I get bluetooth working on my computer.  Don't think there's anything I can do about the touchpad, though.

[2020-05-07 09:12] jaapschouwenburg commented on #5
The Speedlink works perfectly now, aside from the lack of rumble. `fftest` shows no rumble support (though it is capable of rumbling):

    Device /dev/input/by-id/usb-0e8f_PS_R__Gamepad-event-joystick opened
    Features:
      * Absolute axes: X, Y, Z, RZ, Hat 0 X, Hat 0 Y,
        [27 00 03 00 00 00 00 00 ]
      * Relative axes:
        [00 00 ]
      * Force feedback effects types:
        Fo

[2020-05-07 09:19] knightpp commented on #5
LMB still prints nothing. Forward and back buttons are ok. Now the mouse scroll prints something
<details>
  <summary>scroll debug info</summary>

Scroll up
[code]
Scroll down
[code]
</details>

[2020-05-07 10:56] Chronophylos commented on #5
Stick: `Connected p1, id: 44FB10A, name: Thrustmaster T.16000M` [Amazon](https://www.amazon.com/ThrustMaster-663296415455-Thrustmaster-T-16000M-Flight/dp/B004PZIEF4)
**Note**: This is the `V1` version `FCS` could be different
**Note**: `stick` is the crate not the controller.

**Stick**:
Motion forward and backward (`MotionV`): works
Motion leftward and rightward (`MotionH`): works
Rotating the st

[2020-05-07 15:23] AldaronLau commented on #5
@jaapschouwenburg Thanks!  Unfortunately, it looks like it's probably a Linux driver issue, so I don't think it's possible to get stick to support rumble on the speedlink controller.

[2020-05-07 16:43] AldaronLau commented on #5
@knightpp @Chronophylos Mappings/resolution should be better now on master.  If you want to make sure it's fixed, that would be awesome!  LMB doesn't give an event at all through evdev, then which means I probably can't get it to work.

[2020-05-07 19:50] Chronophylos commented on #5
Rudder is now mapped as `CameraH` and Throttle as `CameraV` and the resolution of both of them is only between `-1` and `-0.97`. The rest seem to work

[2020-05-07 21:58] AldaronLau commented on #5
@Chronophylos I think that mapping makes sense, let me know if you think it doesn't.  New changes on master just now should fix the resolution issues, hopefully.

[2020-05-07 22:03] Chronophylos commented on #5
The resolution looks good. I think the mapping is fine.

[2020-05-07 23:38] cinphart commented on #5
PS4 - buttons are now:

square (left) common
triangle (top) action
circle (right) accept
X (bottom) cancel

I have a few others that I dug out of a closet, that I'll see if I can't try later, mostly third party controllers.

[2020-05-07 23:43] cinphart commented on #5
Connected p1, id: E6F0213, name: Afterglow Gamepad for Xbox 360
left stick maps to motionH/V
right stick maps to camera H/V
directional pad maps OK
LT maps to LT 0-1
RT maps to RT 0-1
back maps to back
start maps to forward
X (left) maps to Common
Y (top) maps to Action
B (left) maps to Cancel
A (bottom) maps to Accept
Xbox button quits

[2020-05-08 00:29] AldaronLau commented on #5
@cinphart Thanks!  Looks like they both work, yay!

[2020-05-08 01:02] cinphart commented on #5
Connected p1, id: E6F6302, name: Afterglow controller for PS3
left/right stick work OK for motion
left pad click reports back (id =26)
right pad click reports forward (id=27)
dpad works
select reports Lt (id =24), would expect Back
start reports Rt (id = 25), would expect forward
PS button quits
Square (left) reports Accept
Triangle (top) reports Common
Circle (right) reports Cancel (id=18)
x (bot

[2020-05-08 01:11] cinphart commented on #5
Connected p1, id: 46DC216, name: Logitech Logitech Dual Action
Dpad works as expected.
left stick reports motionV/H, click reports 'Button 10 is Unknown)
right stick reports Lt for horizontal motion, RT for vertical motion, click is 'Button 11 is unknown'
button 1 (left) is Action
button 4 (top) is Common
button 3 (right) is Cancel
button 2 (bottom) is Accept
L1 reports Lt (id=4)
L2 reports L (id=

[2020-05-08 02:18] cinphart commented on #5
Mayflash Arcade Fightstick F300.

This one has three modes, XInput, gamepad, and PS3/DInput. There's a single 8-way joystick, 8 arcade buttons, select/back button and home/ps button, and a large 'start/options/menu' button. It also has a selectable DPAD or X/Y switch.

In xbox mode:
Connected p1, id: 791832, name: Generic X-Box pad

Stick generate MotionH/V either 1,0 or -1 in X/Y mode, or Dpad re

[2020-05-08 02:26] AldaronLau commented on #5
@cinphart I think those controllers should work correctly on master now, if you want to verify that they do.

[2020-05-08 02:27] AldaronLau commented on #5
@cinphart Didn't see that last one until just now, so just the 2 Playstation controllers before that

[2020-05-08 02:56] AldaronLau commented on #5
@cinphart The first two modes look fine to me, after looking up what the controller looks like.  The third mode should make more sense now.

[2020-05-15 09:46] DuckerMan opened #7 "Are there any ways to get all connected gamepads?"

[2020-05-15 16:01] AldaronLau commented on #7
Yeah, the following program will make a `Vec` of all connected gamepads, and print out their names and ids:

[code]

Is that what you were looking for?  I suppose one thing this can't do, is break out of the loop after all gamepads have been added to the `Vec`.  Do you think that would be a useful feature?

[2020-05-16 06:18] DuckerMan commented on #7
It's weird, but `stick` can't find my `DirectInput` gamepad

[2020-05-16 18:15] AldaronLau commented on #7
`stick` looks in /dev/input/by-id/ for files ending in "-event-joystick".  When I plug in an XBox controller the following files appear:

Other people have reported `stick` not being able to see their controller, so I'd like to fix it.  I think the most useful thing for me to fix it would be an ls of /dev/input, /dev/input/by-id and /dev/input/by-path before and after plugging in your DirectInput

[2020-05-18 11:33] pickfire commented on #5
Twin USB Gamepad brought from local store for MYR 20 (USD 4.60), it have two gamepad connected using one USB 2.0. Only one random gamepad will work and the other won't be detected.

[code]

Axis does not seemed to work, based on `buttons[N]` and `axis[N]` in https://w3c.github.io/gamepad/#remapping

[2020-05-18 16:38] AldaronLau commented on #5
@pickfire Thanks!  I'll look into fixing it.

[2020-05-19 14:47] pickfire commented on #5
@AldaronLau Is there any reason why this crate is created despite gilrs is already there? Maybe the project have different aims? This seemed to be more specific which only works for controllers.

[2020-05-19 15:30] AldaronLau commented on #5
@pickfire The main reason is that I hadn't heard of gilrs when I started stick back in 2017 when gilrs was only a year old and had less than 500 all-time downloads (checking from crates.io).  Now, I think the main reason is it's an option for people who want to use `async`/`.await`.  Additionally, stick provides lower level support in case you want to customize how the hot-plugging should work.  I

[2020-05-20 16:21] DuckerMan commented on #7
@AldaronLau  Hi, thanks for late reply! My OS is Windows, not a `Linux` one.

[2020-05-20 16:22] DuckerMan commented on #7
It can't find both of DInput(`Maxfire Grandias 12V`) and XInput(`X360 controller`)

[2020-05-20 17:15] AldaronLau commented on #7
@DuckerMan stick doesn't support Windows yet, but I already made an issue for it: https://github.com/libcala/stick/issues/1!  The reason it compiles is because it's using a "dummy" implementation that does nothing.  Hopefully, I can get it working soon!  Closing, unless you think it should be open for another reason.

[2020-05-20 17:15] #7 closed

[2020-05-20 17:18] DuckerMan commented on #7
Thank you!

[2020-05-24 23:44] theunkn0wn1 opened #8 "Thrustmaster Warthog support"
**Describe the bug**
Ran the example code provided on the docs' homepage, and plugged my Warthog into the machine.
[code]
The above spams the STDOUT.

**To Reproduce**
Steps to reproduce the behavior:
1. `cargo init rustpad`
2. `cd rustpad`
3. `cargo add stick pasts`
4. copy example program into `src/main.rs`
5. `cargo run`
**Expected behavior**

Expected `Connected p1, id: 44F0404, name: Thrustma

[2020-05-24 23:48] theunkn0wn1 commented on #8
Just noticed #5 , il see if i can come up with a more useful contribution...

[2020-05-25 00:31] theunkn0wn1 commented on #8
Axies 2,3 (left,right thrust) incorrectly read. only reads 0-1 at the forward extreme.
None of the buttons read correctly. (all spew the above OP error message)
Attempted to write a patch by creating file `stick/src/controllers/s044F0404.txt` and matching the format of other files in that directory, using values from https://html5gamepad.com/ and the library appears to have ignored it.

I would li

[2020-05-25 01:13] AldaronLau commented on #8
@theunkn0wn1 Thank you for being interested in contributing!  Sorry about it not being super clear how stuff works.  From the comments on #5, there was a suggestion to use https://github.com/gabomdq/gamecontrollerdb.git, which I wanted to look into, which might fix your issue.  The text files as they exist now are notes to myself on what maps to what for each joystick.

I'm curious, though, is it

[2020-05-25 01:21] theunkn0wn1 commented on #8
@AldaronLau I did actually come across game controller db when i was investigating alternate joystick libraries, but unfortunately it doesn't cover my use case as the Warthog controller does NOT match that particular standard.

The button ID appears to be constant, however is different from the IDs im getting out of `gilrs`.
For instance, `gilrs` reports the switch labeled `EAC` on the controller

[2020-05-25 01:36] AldaronLau commented on #8
@theunkn0wn1 I'm wondering if there's another file in /dev that would make this controller usable with `stick`.  I'm thinking stick will definitely have to patch gamecontrollerdb to support more controllers.  I'm not sure how to fix it if evdev always returns the same value.  Here's some file locations which might be able to be tried out (from my xbox controller):

    /dev/input/event15
    /dev/

[2020-05-25 02:03] theunkn0wn1 commented on #8
@AldaronLau , my previous experience with handling this joystick in other languages (python via `pygame`, a wrapper around` libsdl2` and Golang using a wrapper around libsdl2) is that the button IDs are always constant. Im not sure why you perceive this as a problem?

Being able to parse `gamecontrollerdb` will certainly help this library support more hardware and is a step in the right direction,

[2020-05-25 02:42] AldaronLau commented on #8
@theunkn0wn1 I thought you meant different buttons were returning the same id, glad that's not the case!

Yeah, I'll have to expand the schema for sure.

The subtraction of 0x120 was something I kept from a C evdev example that I used in order to learn how to use evdev.  I'm not sure why it was in there (there wasn't a comment or anything), but I kept it just for that reason.  It may not be necess

[2020-05-25 03:02] theunkn0wn1 commented on #8
@AldaronLau Oh no, each switch state has a unique ID*.
* the tri-state switches the neutral state is a logical NAND of the two other states, but `stick` doesn't really need to provide explicit support for this.

The subtraction of `0x120` im not seeing a use for, you may want to consider refactoring that out.

I agree that file systems are a pita to handle, doing code gen from a neutral format mig

[2020-05-25 03:48] AldaronLau commented on #8
I'm going to look into why that subtraction was there, and either add a comment or remove it.  It is very odd.

I foresee this being a lot of manual code writing to support each controller.  There's going to be a lot of modules with that approach.  I think it will be a lot less maintenance work to have the build script generate a function for each joystick, as well as a function that matches on th

[2020-05-25 04:05] AldaronLau commented on #8
It also looks like at least adding an `ExtSwitch` variant to the `Event` enum might be necessary.  Probably two (one for 2-way and one for 3-way).

[2020-05-25 04:20] theunkn0wn1 commented on #8
Ah, i had intended the codegen to generate the modules at build time, sorta the same way `prost` does it; one way or another I think each joystick should generate into their own files for the sake of organization. Having to sort through a 2k + line file looking for one specific function definition is, i imagine, less maintainable than files that are named after the devices in question that are onl

[2020-05-25 05:06] AldaronLau commented on #8
The idea is you don't look for functions in the generated code.  You look at the source files.  And that should probably be separated into different files, at least based on operating system.

There are actually quite a few of the general events that match up with your controller.  The goal of `stick`s remappings is to use the "meaning" rather than the "position".  Some meanings are specific to yo

[2020-05-25 05:09] AldaronLau commented on #8
**Note**: I'm renaming it switch because throttle makes me think continuous, switch makes me think discrete.

[2020-05-25 05:55] theunkn0wn1 commented on #8
Yep, they are two way and three way switches. Having built-in support in this library would be a welcome addition, it sure would make programming against this device easier in downstreams.

You are absolutely right about not generating device-specific enums; the intended use of an input might not even be whats on the label. My specific use case i use `eac` as a `master enable` switch for instance.

[2020-05-25 16:26] AldaronLau commented on #8
@theunkn0wn1 I was just using a video game as an example use case.  It's cool to see stick be used for something else!

I think I can try to develop some sort of a schema and code generation this week.  If you want to make a PR adding `ExtTwoWaySwitchEvent`, `ExtThreeWaySwitchEvent`, `ExtButtonEvent` and `ExtHatEvent`? etc. enums, with the unique input labels from your controller that would be ver

[2020-05-25 17:52] theunkn0wn1 commented on #8
Sounds like a plan, Il see what i can come up with.
I know you floated the idea of Muon, but could you please support more widely used formats such as toml? A quick search indicates a lack of library support for your file format in other languages (either that or picking a relatively common word is throwing my search off completely).

[2020-05-25 18:06] AldaronLau commented on #8
Is there a reason to worry about supporting other languages for an issue specific to `stick`?  The reason I suggested MuON, is because it was designed to be easy to learn for non-programmers or beginning programmers.  This would (hopefully) make it so anyone could make and contribute a remapping file.  I also may be biased because I was involved in MuON's design.  IMO, TOML is not as easy to learn

[2020-05-25 18:18] theunkn0wn1 commented on #8
I actually find TOML to be quite intuitive, and has excellent library support in both rust, python, and a variety of languages. Further, if you are concerned about toml being easy to learn for non-programmers, then your issue is superseded by rust itself not being particularly easy to learn. It took a lot of hand-holding from existing rust developers for me to get to the point where I am comfortab

[2020-05-25 18:47] AldaronLau commented on #8
I suppose, at least until MuON gets more support in other languages, that TOML would be a better option, even though it's not my favorite, personally.  I was talking more of *users* of programs that depend on stick rather than actual programmers depending on stick.  I agree that people will expect `stick` to "just work", but it's not quite there yet, and that GUI isn't even started yet.  I think p

[2020-05-25 18:58] theunkn0wn1 commented on #8
I started work towards a possible toml-based schema for my specific device, though its presently unclear how the codegen would work to tie this into `stick`. My current idea is to generate a function that accepts a general EvCode object and decodes it into an device-specific enum. This aims to be supplemental to some generalized `stick::Event` type using an ExtEvent or something. Not sure yet.

[c

[2020-05-25 21:25] AldaronLau commented on #8
I actually don't think a device-specific enum is necessary at all.  I think the controller schema could specify which events are made available directly to the user.

* one small note: plural of axis is axes (I know, it looks like multiple axe, but it is not)

I think doing something like this would make the codegen trivial:
[code]

[2020-05-26 20:51] theunkn0wn1 commented on #8
Update, successfully implemented a code generator for my device-specific enum approach. This is the path I will be using using moving forward in my application, as it makes pattern-matching in user code much more straight-forward.

With your approach, the user code would need to match something like
[code]
With device-specific enums it can be simplified to
[code]

Since consistency is prefered, th

[2020-05-26 20:52] theunkn0wn1 commented on #8
And yes, there are a grand total of 3 actual "button" inputs on the Warthog throttle. the rest are switches, hats, and axies.

[2020-05-26 21:42] AldaronLau commented on #8
Your code appears to use gilrs?

If you make a PR, I will accept it - but I will likely modify it to my approach.  I'm thinking realistically it might actually be simpler, let me show an example:

## With both device-agnostic `Event` and specific `Event`
[code]

## With device-specific `Event` from device-agnostic `Event`
[code]

## With device-agnostic `Event` only
[code]

Aside from what I wrote

[2020-05-26 22:15] theunkn0wn1 commented on #8
My code used gilrs as it was easier to tie into for development purposes; I didn't need to patch the library to get at the raw event IDs and types.

Jinja isn't strictly necessary, but did simplify the process of creating the necessary text. There are rough equivalents in rust which i am presently evaluating, Il let you know if i have any success with them. I am certain the generator can be implem

[2020-05-27 07:10] theunkn0wn1 commented on #8
Successfully generated valid modules in rust, I ended up overhauling the prototype toml because it turned out to be quite difficult to parse in a static language. The only reason it worked properly in the previous revision is the dynamic nature of python which allowed me to do magical things.

Current trouble is finding a binding point in `stick`, as it's current output just doesn't expose enough

[2020-05-27 22:42] AldaronLau commented on #8
@theunkn0wn1 I think your idea of the generated `controllers` module is exactly what I want.  Input held events can be safely ignored since it's easy to get state from press/release.  Looks great!

[2020-05-27 23:17] theunkn0wn1 commented on #8
Sounds good, I have some cleanup and generalization left to do, I will open a draft PR shortly so you can see the end-result of my work.

[2020-05-28 04:04] AldaronLau opened #11 "Implement for MacOS"

[2020-05-28 04:05] AldaronLau opened #12 "Implement For Web Assembly"

[2020-06-07 23:01] AldaronLau commented on #8
@theunkn0wn1 I have now incorporated a code generator and made a folder for a database of controllers.  Would you mind testing the Warthog controller on the version of stick that's on crates.io?  I believe it should work now, but I want to make sure I didn't break anything before closing this issue and releasing stick 0.10.

[2020-06-07 23:04] AldaronLau commented on #8
*Edit*: I meant on GitHub (new changes are NOT on crates.io yet)

[2020-06-08 06:08] AldaronLau opened #13 "Clean Up / Transform The Database"
In the TOML files in `./pad_db/pad/mapping`, it looks like
[code]

# Tasks
 - [ ] Names should be consistent PS, PlayStation, Playstation, Play Station => PlayStation; GC, GameCube, Gamecube, Game Cube => GameCube
 - [ ] Types should not be "UNKNOWN", except for xxxxxxxxxxxxxxxx.toml, they should be things like `FLIGHT`, `GAMECUBE`, `NES`, `XBOX`, `WII`
 - [ ] Types should be all caps, no undersco

[2020-06-08 06:34] AldaronLau commented on #5
With the new changes to stick, you can now easily make your own stick mappings in the `./pad_db/pad/mapping` folder (instead of hard-coding it in the old spaghetti code).  I'll still make the file if you only want to do the testing, though.

Example TOML mapping file:
[code]

When I converted everything, I don't believe I broke anything, but it might be a good idea to check to make sure if you're

[2020-06-09 00:12] theunkn0wn1 commented on #8
@AldaronLau
Test unsuccessful to satisfy OP.

appears the library code is continuing to be extremely noisy, and the library still appears to not correctly handle this gamepad.
[code]

[2020-06-09 00:53] AldaronLau commented on #8
@theunkn0wn1 Thanks!  Just pushed a change.  I think I just needed to rename the file.  It should work now, I think.

[2020-06-09 01:13] theunkn0wn1 commented on #8
@AldaronLau seems to do better, however two major issues come up.
Firstly, I believe we agreed to ignore `ButtonHeld` style events? at the very least it should be made unique so users can filter them out easily
[code]

Secondly, and more importantly, it appears the axies do **NOT** read correctly.
Left and right axies only output non-1 values at the forward extremes, and output 1 during 98% of the

[2020-06-09 01:24] AldaronLau commented on #8
@theunkn0wn1 Yes, I agree those should be ignored.  I don't know which events are being repeated, since I don't have the controller.  Is it just the three-way switches, some of them, or something else?  I think I have an idea about the axes, so it might be fixed now.

[2020-06-09 01:31] theunkn0wn1 commented on #8
@AldaronLau All digital inputs on this controller; When i was working on #9 I noticed buttons have three states: 0x00 (off), 0x01, (on), and  0x02 (held).
This information is held in `stick::ffi::EvdevEv::ev_value` field.

[2020-06-09 01:41] AldaronLau commented on #8
@theunkn0wn1 Thanks!  I temporarily commented out the Left and Right axes on the Warthog, so now it will print unknown events.  Can you tell me what it prints out at maximum (backward) and minimum (forward) values?  I'll work on fixing the held events.

[2020-06-09 01:46] theunkn0wn1 commented on #8
Your latest commit doesn't produce useful data, rolled back a commit and used debugging tools to get requested data.

Forward extreme: 0
Backwards extreme 16339
[code]

[2020-06-09 02:45] AldaronLau commented on #8
@theunkn0wn1 Thanks, I added the useful data back into the prints, and used the range to hopefully fix the bug.

[2020-06-09 02:57] theunkn0wn1 commented on #8
@AldaronLau Range is flipped; MAX reads 0 and OFF reads 1, otherwise the axies read reasonably.
Event duplicity appears to be mostly resolved, it now only occurs for unknown events.

Only remaining issue for this gamepad, it seems, is one unimplemented HAT
[code]
North: code 2
South: Code 4
West: code 3
East: code 3

Event repetition occurs for these inputs (most probably because they are unknown)

[2020-06-09 03:01] theunkn0wn1 commented on #8
Correction: OFF extreme reads as 1, even though all other values near OFF (Full reverse) read near zero.
MAX extreme reads near zero, within acceptable floating point error.

[2020-06-09 03:32] AldaronLau commented on #8
@theunkn0wn1 I inverted the left and right throttles by adding an "invert" option to the TOML schema, I think the hat should work now too.

[2020-06-09 03:59] theunkn0wn1 commented on #8
@AldaronLau that broke the POV hat somehow
[code]

[2020-06-09 04:50] AldaronLau commented on #8
Looking at the controller online, it looks like there's three 2 dimensional hats.  The "Mouse Hat with a push button", The "8-Way POV Hat", and The "4-Way Mic Hat with a push button".

I'm guessing that the Mouse Hat is axis 0 and 1 which I don't believe were ever actually working, because it looks like it's actually a Mouse Hat X and Mouse Hat Y unsigned axes (0 thru 1024, that rest at 512).  I d

[2020-06-09 04:57] AldaronLau commented on #8
By the way, the Warthog TOML mapping is located at `stick/pad_db/pad/mapping/03004F0404041101.toml`.  If you remove it you can see all the raw events (Now repeat events are filtered out).  If that's helpful.

[2020-06-09 05:12] AldaronLau commented on #8
It might sort of work now from what I can guess?

[2020-06-09 06:32] AldaronLau commented on #8
@theunkn0wn1 I believe I have made all of the necessary changes if you would like to check it again.

[2020-06-09 18:01] theunkn0wn1 commented on #8
@AldaronLau latest changes seem good. Beyond one unexpected input the remaining controls appear to be reported in a logical manor.

Apparently the `mouse` hat as your events call it has a button attached to it. Not sure how i missed that during my initial rounds of testing, It just didn't occur to me there would be a button there.
[code]

To keep naming similar, this can be appended to the relevan

[2020-06-09 18:05] AldaronLau commented on #8
Thanks!  Now, would you say this issue can be closed?  That is, this controller works correctly on master?

[2020-06-09 18:07] theunkn0wn1 commented on #8
@AldaronLau Affirmative, it can be closed via #14 .

[2020-06-09 18:07] AldaronLau commented on #8
Closing, will release stick 0.10 today with the changes.

[2020-06-09 18:07] #8 closed

[2020-06-09 18:43] AldaronLau commented on #8
Stick 0.10 released!

[2020-11-10 07:36] iRaiko commented on #1
I was looking at a implementing this for windows but I'm not sure which way to get input is best in this scenario.
So far I have seen 3 ways to do it:
1. Make a window and use joySetCapture for the message queue
2. Put joyGetPos on a loop to update it
3. Maybe some form of hook into the message

What would you think would be best to do?

[2020-11-10 17:05] Nezeky commented on #1
@iRaiko in my previous WIP implementation for the older version of stick (which is still in src/ffi/windows.rs), I used joyGetPos - but since then I've rewritten the library to use async for performance purposes.  I would say a loop probably has performance implications, so probably a separate thread that blocks waiting for messages is necessary, and then wakes the future when new input messages a

[2020-11-12 00:55] Nezeky commented on #1
@iRaiko On further research, it looks like something like [this](https://docs.microsoft.com/en-us/windows/win32/xinput/xinput-and-directinput?redirectedfrom=MSDN#xinput-and-directinput-side-by-side) could be a good starting point for the code.  I think both APIs are blocking, so stick would have to start a separate thread to use these APIs.

I also think UWP: Universal Windows Platform would be a

[2020-11-12 00:57] Nezeky commented on #1
I forgot to mention that it appears as though `joyGetPos` is deprecated.

[2020-11-13 11:20] iRaiko commented on #1
I saw that aswell, was looking into using RawInput and since UWP is using win32 api's i assume it would work with that aswell. One question i had was if it is alright to use the winapi crate or if I would implement all the functions myself to avoid external crates.

[2020-11-13 15:33] Nezeky commented on #1
@iRaiko Using the RawInput API seems like the right choice (I think you're right about it working across UWP platforms).  Even though I like to avoid extra dependencies, I think it's a good idea to depend on the winapi crate because it's almost impossible to get the FFI types right if you don't use it.

[2020-12-12 20:19] AldaronLau commented on #1
@iRaiko Just checking in.  Any updates on this?  Getting stuck on anything that I could help with?  Have you decided not to work on it, or just haven't gotten around to it yet (I don't see anything recent on your GitHub)?  Just curious to see how it's going, since it's a difficult issue to solve.

[2020-12-13 05:58] AldaronLau opened #20 "Runtime Configuration of Controllers Not In Database, Or Mapped Differently"
Users may want to map controllers differently (custom mappings).  Also useful for using the Stick library to make new mappings for stick (makes it easier).

[2020-12-13 06:00] AldaronLau opened #21 "Improve Build Times"
Currently serde increases the compile time of this crate by a lot due to proc macros.  Look into using a non-proc macro alternative.

[2020-12-13 06:05] AldaronLau opened #22 "Reduce Bloat In Resulting Executable"
Currently, stick generates a lot of code.  I think making the database included as in a binary format would decrease the size of the executable, compared to including complex control flow.

[2020-12-14 11:14] offalynne commented on #5
@AldaronLau have you lifted all your map data wholesale out of the SDL community repo?

[2020-12-14 17:23] AldaronLau commented on #5
@offalynne No, not all of it; there are quite a few mappings specific to stick.  I'm a bit doubtful that those specific mappings from SDL are actually correct, though (that they actually map evdev events and not SDL events).  If this is about adding a notice saying where the mappings originated, then I can add it - likely overlooked because I don't think of joystick mappings as software according

[2020-12-14 21:15] offalynne commented on #5
@AldaronLau

this is really disingenuous. a comparison of your files against the SDL db shows there are 2 mappings you have added in a list of over 300 you've reproduced without attribution.

two thirds of the content in this repo is data authored by 180 contributors on a different project that you have left unattributed. you should either reproduce it in full as a dependency, [as `gilrs` does](ht

[2020-12-14 22:14] AldaronLau commented on #5
@offalynne This is simply wrong.  There are more than two mappings that I have added, and that doesn't even include the mappings other stick contributors have added.

Like I said, I overlooked it, and can add the attribution.  But considering your hostile tone, I think I will remove all the SDL community mappings (after all I don't think they work with stick anyway), and release stick's **more tha

[2020-12-14 23:03] AldaronLau commented on #5
@offalynne I have removed the SDL community game controller db from stick.

I'm going to close this issue temporarily, and open a new one once I have an improved way to test and add gamepads.

[2020-12-14 23:03] #5 closed

[2020-12-14 23:31] AldaronLau commented on #13
Fixed.

[2020-12-14 23:31] #13 closed

[2020-12-18 23:57] AldaronLau opened #23 "Raw HID Support On Linux"
There should be a way to read raw controller events on Linux from /dev/usb/ which can be reused for Fuchsia mappings.  Unfortunately, this can't be the default way to connect to a joystick on Linux because of permission issues.  Hopefully these mappings can also be re-used for Windows and MacOS.

**edit**: Maybe at some point if making a Flatpak that deals with the input access permissions is simp

[2021-01-14 15:28] iRaiko commented on #1
Hey @AldaronLau sorry, i had some stuff going on. I have worked on it and will put it up on github sometime tomorrow.
It's very much a mess at the moment but it manages to read the input of the controller without relying on any external crate. Will be working through my to do list on there and if you have any suggestions would be great to hear

[2021-01-15 02:16] AldaronLau commented on #1
@iRaiko No worries.  That's awesome, I'll definitely make time to look through it this weekend!  I'm new to the draft PR feature on GitHub, but I think it would be helpful.  Would you mind opening one (it's ok if it's not for the most recent stick)?  If it's a separate repository with history unrelated to stick, then don't worry about it for now.  Thank you for putting in the work!

[2021-01-18 00:42] AldaronLau commented on #1
@iRaiko looks like you're on the right track to getting Stick working on Windows!  I looked through the code and had a couple bugfixes that I put in a PR on your hidtest repository.  Let me know if you have any questions or want help at any point.

[2021-05-25 18:23] Lite5h4dow opened #27 "examples/haptic.rs dosent run correctly"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
copy 'examples/haptic.rs' into main.rs
compile,
run

**Expected behaviour**
should feel a rumble after running the program, however, I get no response.

**Desktop (please complete the following information):**
 - OS: Raspian (Linux)

[2021-05-26 02:14] AldaronLau commented on #27
@Lite5h4dow that's not what haptic.rs is supposed to do (maybe the name is too misleading?).

haptic.rs should start an event loop, while you:
 - press A: Full power rumble
 - press B: Low power rumble
 - press Home: Exit event loop

When you release the button the rumble should stop.

[2021-05-26 02:23] Lite5h4dow commented on #27
Yeah, none of that happens though. I don't even get a message saying a controller has connected and when I added a printline toggle beginning of the function that didn't print either.

[2021-05-26 02:28] AldaronLau commented on #27
@Lite5h4dow interesting.  I'm guessing the function with the `println!()` at the beginning of it is the `event_loop()` function?  That seems like a bug, I'll look into it.

[2021-05-26 02:31] Lite5h4dow commented on #27
For your convenience here is my implementation of it (fyi I tried it both not in the main thread and in the main thread and neither worked) https://www.github.com/Lite5h4dow/camera-rig/tree/master/src%2Fmain.rs

[2021-05-26 02:32] AldaronLau commented on #27
@Lite5h4dow Thanks!

[2021-05-26 02:47] AldaronLau commented on #27
@Lite5h4dow I think I will have to test this on my Raspberry Pi when I get a chance.  I cannot reproduce the error.  I can't run the following code due to a panic:

[code]

Commenting it out does make the program terminate immediately, but that's to be expected; Adding

[code]

To the end of main lets the main thread wait for the controller thread, and "Hello from the controller thread" prints out

[2021-05-26 19:32] Lite5h4dow commented on #27
unfortunately, it didn't work. I'm getting no message even if I remove it from a separate thread and remove my code.

[2021-05-26 20:23] Lite5h4dow commented on #27
so I copy-pasted it into another crate and compiled it for rpi0 and I got the connection event but it appears to be frozen. no response from any of the buttons, I can't end the session and the buttons have no haptic feedback.

[2021-05-26 20:40] AldaronLau commented on #27
@Lite5h4dow it could be that there isn't an existing mapping for that controller.  What's the id it prints out?

[2021-05-26 20:59] Lite5h4dow commented on #27
id: 0300_5E04_EA02_0103. its an xbox one controller

[2021-05-26 21:00] Lite5h4dow commented on #27
(i would have assumed the disconnect event would have fired even if the mapping didn't exist right?)

[2021-05-26 21:06] AldaronLau commented on #27
@Lite5h4dow yeah, it should...

[2021-05-26 23:03] Lite5h4dow commented on #27
yeah no disconnected event triggered or connection event triggered after the initial connected event. looks like it hung somewhere without erroring.

[2021-06-01 10:04] Lite5h4dow commented on #27
any luck?

[2021-06-01 14:33] AldaronLau commented on #27
@Lite5h4dow haven't gotten to it yet, hopefully I'll get to it later this week.

[2021-06-01 20:18] Lite5h4dow opened #28 "Panic error from Stick 0.11.1 if controller is connected via bluetooth."
**Describe the bug**
Getting ```thread 'main' panicked at 'Couldn't create inotify (2)!', /root/.cargo/registry/src/github.com-1ecc6299db9ec823/stick-0.11.1/src/ffi/linux.rs:664:13
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace```
when running example code on raspian.

**To Reproduce**
Steps to reproduce the behaviour:
1. Download example code
2. compile for RPI0
3.

[2021-06-01 20:33] Lite5h4dow commented on #27
after some more testing, i can confirm that it responds to no event after connection. nothing happens.

[2021-06-01 20:34] Lite5h4dow commented on #27
unfortunately im not good enough at rust to work on other peoples code, sorry i cant help fixing this.

[2021-06-02 03:24] AldaronLau commented on #28
@Lite5h4dow thanks!  So, this bug doesn't trigger if the controller is plugged in through USB?

[2021-06-02 03:27] AldaronLau commented on #27
@Lite5h4dow no worries, I think I should be able to set up my pi and a controller in a way to debug this.

[2021-06-02 07:45] Lite5h4dow commented on #28
@AldaronLau that's right if it's plugged in there is no panic. Only if it is connected via Bluetooth

[2021-06-04 17:13] Lite5h4dow commented on #27
@AldaronLau any luck bud?

[2021-06-09 11:55] Lite5h4dow commented on #28
any chance to look at this?

[2021-06-09 22:45] AldaronLau commented on #28
@Lite5h4dow not yet

[2021-06-16 12:04] Lite5h4dow commented on #28
@AldaronLau no chance to look at it yet?

[2021-06-16 12:05] Lite5h4dow commented on #27
@AldaronLau any chance to look at this?

[2021-06-16 18:21] AldaronLau commented on #1
Fixed by  #29

[2021-06-16 18:21] #1 closed

[2021-06-16 20:35] AldaronLau commented on #27
@Lite5h4dow I've been able to reproduce this behavior (on a Linux laptop), but it doesn't happen every time.  I think I might have some ideas on why this is happening.

[2021-06-16 20:38] AldaronLau commented on #28
@Lite5h4dow still looking into how to reproduce the bug - I tried with a PS3 controller but my computer thinks it's a bluetooth keyboard, I might be able to get it to happen with a switch controller.

[2021-06-21 02:58] AldaronLau commented on #23
Mappings work differently now, so closing.

[2021-06-21 02:58] #23 closed

[2021-06-21 03:02] AldaronLau commented on #21
New controller format fixes this.

[2021-06-21 03:02] #21 closed

[2021-06-21 03:02] AldaronLau commented on #22
Binary format is done.

[2021-06-21 03:02] #22 closed

[2021-06-21 03:03] AldaronLau commented on #20
Runtime configuration is now available on the main branch, so closing.

[2021-06-21 03:03] #20 closed

[2021-06-21 03:08] AldaronLau commented on #27
@Lite5h4dow Can you try the main branch and see if the problem still happens?

[2021-06-21 03:15] AldaronLau opened #30 "Add Optional Feature For Compressing Stick Database With ZStandard"
The resulting binary could be smaller if the database was compressed.

[2021-06-21 03:17] AldaronLau opened #31 "Add Graphical Interface For Configuring/Remapping Controllers"
This would make it much easier to configure/remap controllers.

[2021-06-21 15:39] Lite5h4dow commented on #27
@AldaronLau cant wait to give this a go but I cant seem to reference the code from github:
![image](https://user-images.githubusercontent.com/18059545/122789350-23671500-d2af-11eb-83f4-3792b199cd3f.png)
I get the following error:
![image](https://user-images.githubusercontent.com/18059545/122789447-3da0f300-d2af-11eb-8767-9574757bddd5.png)

[2021-06-21 15:42] Lite5h4dow commented on #27
also fails with the stick dependancy as follows:
![image](https://user-images.githubusercontent.com/18059545/122789897-b1db9680-d2af-11eb-88e6-0584737c11d1.png)

same error

[2021-06-21 17:55] AldaronLau commented on #27
@Lite5h4dow I think you want to do:

[code]

Also, I should note that the API changed slightly, so minor changes might be needed (you'll at least need to replace `stick::Controller::listener()` with `stick::Listener::default()`).  Feel free to clone this repository and run `cargo doc --open` to see the new documentation / examples with pasts version 0.8.

[2021-06-21 18:17] Lite5h4dow commented on #27
no luck with that unfortunately,
![image](https://user-images.githubusercontent.com/18059545/122808852-4c92a000-d2c5-11eb-94c1-07c6fec8c88c.png)
![image](https://user-images.githubusercontent.com/18059545/122808886-54eadb00-d2c5-11eb-9fab-663c830de8b7.png)

[2021-06-21 18:31] AldaronLau commented on #27
@Lite5h4dow it works for me - you might be running an old version of cargo.  Can you try

[code]

If the example program works, then yours should be able to when the new version comes out.

[2021-06-21 19:51] Lite5h4dow commented on #27
@AldaronLau
The problem is if I cont compile it on raspberry pi, then I cant confirm for sure. either way, it doesn't work.
![image](https://user-images.githubusercontent.com/18059545/122819422-5b338400-d2d2-11eb-8889-139ec9f3bcaa.png)

[2021-06-21 20:11] Lite5h4dow commented on #27
also got this when compiling on windows from master / main.
[code]

[2021-06-21 22:02] AldaronLau commented on #27
@Lite5h4dow Can you not do a `git clone` on your raspberry pi?

As for the Windows port, I was changing a couple things on the Linux port and haven't yet gotten around to changing them for the Windows port as well.

[2021-06-21 22:06] Lite5h4dow commented on #27
@AldaronLau its a raspberry pi zero, dosent have the ram to compile anything

[2021-06-21 22:18] AldaronLau commented on #27
@Lite5h4dow I imagine you must have a way to cross-compile it though (with linker from https://github.com/raspberrypi/tools) and then use scp to deploy it?

[2021-06-21 22:21] Lite5h4dow commented on #27
@AldaronLau That's what I'm doing, just using a docker container so I can do it from windows too. that's where the errors are from.

[2021-06-21 22:28] AldaronLau commented on #27
@Lite5h4dow Oh, I thought you were running a Linux PC for that.  The panic is the same one from #28, so I'm not sure how to verify if this one's fixed without fixing that issue first.

[2021-06-23 03:34] AldaronLau opened #32 "Implement Another API For Windows"
**Is your feature request related to a problem? Please describe.**
Currently, the Windows port of stick depends on xinput - this does not include other controllers that do not conform to the w3 standard gamepad such as flightsticks.

**Describe the solution you'd like**
Have an alternative way to connect controllers on Windows.

**Describe alternatives you've considered**
I currently believe a dif

[2021-06-23 03:39] AldaronLau commented on #32
@iRaiko perhaps some of the stuff you worked on earlier at https://github.com/iRaiko/hidtest for the Windows port could still be used for this?

@dparnell any thoughts?

[2021-06-23 04:20] AldaronLau opened #33 "Allow running `cargo xtask sdb` to take an additional argument for custom database."
**Is your feature request related to a problem? Please describe.**
Some people have expressed interest in wanting to create mappings without committing them to this repository.

**Describe the solution you'd like**
They should be able to build a TOML file and use `cargo xtask sdb /path/to/my/database` to generate the bytecode file.

**Describe alternatives you've considered**
A GUI could do this a

[2021-06-23 05:39] dparnell commented on #32
The trick is finding a way of talking to controllers that works reliably on Windows. Xinput seems to be the latest Microsoft blessed way of talking to devices. When I was working through the current Windows code I tried a couple of other APIs but I could not get them to work. It might be that I was trying to use them with Xbox controllers and if I'd used an older style controller it might have jus

[2021-06-23 05:52] AldaronLau commented on #32
@dparnell So I'm thinking theoretically with a combination of APIs, Stick should be able to support all controllers.  I also looked for paddle buttons in the XInput API and did not see them, and I believe those exist on some newer Xbox controllers (although I don't have one to test).  So, I guess what I'm wondering is how Xinput can be the newest Microsoft API and not support the newest controller

[2021-06-23 06:44] dparnell commented on #32
The elite controllers have 4 extra paddles on the bottom. I have two of them here, but I have to say I found them annoying so I removed them. My wife uses two of them on the left side on her controller, so I know they can be nice in some games. From what I saw in the docs they should generate key events. I'll have to take a look and see what happens when I press them.

[2021-06-24 05:45] AldaronLau commented on #28
@Lite5h4dow Can you try running this again, and see if either of #27 or this issue have been fixed?  I was able to successfully run stick on the Pi Zero W after making some changes, but I wasn't seeing the same errors you were.  Thanks!

[2021-07-01 22:41] AldaronLau commented on #27
@Lite5h4dow any chance to test this again?

[2021-07-01 22:41] AldaronLau commented on #28
@Lite5h4dow Any chance to test this again?

[2021-07-01 22:58] Lite5h4dow commented on #28
I'll give it a go tomorrow when I wake up

[2021-07-02 11:20] Lite5h4dow commented on #27
attempted to get this running from the git project, got this error this time.
[code]

[2021-07-02 12:09] Lite5h4dow commented on #27
@AldaronLau cant compile it because ssh is used to compile gcdb. would it be possible to use https instead?
[code]

[2021-07-02 18:52] AldaronLau commented on #27
@Lite5h4dow just changed it to https, hopefully that fixes it?

[2021-07-02 19:03] Lite5h4dow commented on #27
[code]
same thing I think

[2021-07-02 19:16] AldaronLau commented on #27
@Lite5h4dow so when I do a fresh clone with:

[code]

I get this:

[code]

Can you try that (it should do the same thing)?

[2021-07-02 19:29] Lite5h4dow commented on #27
The problem is the use of SSH, I can clone and compile it on my machine, but I'm crosscompiling in a docker container with no SSH key or an account associated with a key, meaning it can't clone with SSH.

[2021-07-02 19:31] AldaronLau commented on #27
@Lite5h4dow it should do the same thing with:

[code]

without using SSH at all.

[2021-07-02 19:42] Lite5h4dow commented on #27
this is my cargo.toml
[code]
how would you run the example after cloning?

[2021-07-02 19:46] AldaronLau commented on #27
@Lite5h4dow change it to:

[code]

Also you can use pasts from crates.io: `pasts = "0.8.0"`

[2021-07-02 20:01] Lite5h4dow commented on #27
i get this now
[code]

[2021-07-02 20:05] AldaronLau commented on #27
@Lite5h4dow that's because the stick/ repository is a workspace, so if your Cargo.toml looks like this:

[code]

change it to:

[code]

[2021-07-02 20:30] Lite5h4dow commented on #27
Good and bad news
Good news, im getting a print out of events and it is no longer freezing
Bad news, I'm not getting any haptic feedback

[2021-07-02 20:31] Lite5h4dow commented on #28
still getting a panic when the controller is connected via Bluetooth
[code]

[2021-07-02 20:57] AldaronLau commented on #27
@Lite5h4dow I have a feeling that the Pi Zero can't handle the amount of power needed for haptic feedback.  I might try testing this on a Pi 4 to see if there's a difference.

[2021-07-02 21:01] Lite5h4dow commented on #27
i would agree, however it pulls power for haptics from the batteries. ill give it a go on my pi3b+ tho.

[2021-07-02 21:02] AldaronLau commented on #28
@Lite5h4dow I unfortunately can't get any bluetooth connection because I only have PS3 and Switch controllers that are bluetooth compatible, and I can't get them to work at all under Linux.  So, I wish I could test and fix it, but I can't do it myself - so I'm going to add a help-wanted label.

[2021-07-02 21:03] Lite5h4dow commented on #27
@AldaronLau, yeah no dice on the 3B+ either.

[2021-07-02 21:10] Lite5h4dow commented on #28
no worries. one thing i have noticed @AldaronLau , is this

wired:
[code]

Bluetooth:
[code]

i don't know if that helps at all?

[2021-07-02 21:10] Lite5h4dow commented on #28
it seems to be using event1 for the controller when connected via Bluetooth

[2021-07-02 21:58] AldaronLau commented on #28
@Lite5h4dow Thanks!  That's interesting, so I guess the by-id and by-path directories can't be expected to exist.  I think how stick checks for new controllers needs to change, so that it checks all files that match `/dev/input/event*` to see if they are a joystick/gamepad/controller.

I should be able to change that without needing a bluetooth connection.

[2021-07-03 20:48] AldaronLau commented on #27
@Lite5h4dow https://www.raspberrypi.org/forums/viewtopic.php?f=66&t=132882&p=889965#p889965 looks like haptic is disabled in the raspberry pi kernel, unless you build it custom yourself.  Using the `fftest` program installed with the `joystick` package on raspbian the force feedback test prints `Error: Function not implemented`, which means the error is not an error with the stick crate - so I'm c

[2021-07-03 20:48] #27 closed

[2021-07-03 21:26] Lite5h4dow commented on #27
Awesome thanks for everything man, really appreciate the effort you are putting into this! One day when I'm better with rust I might be able to come back and actually help.

[2021-07-03 21:35] Lite5h4dow commented on #27
@AldaronLau does this mean the crate will get updated too?

[2021-07-04 04:15] AldaronLau commented on #27
@Lite5h4dow Thanks, it's nice to see my work appreciated!  I will try to update the crate soon on crates.io - the bluetooth issue you found is something I hope isn't too hard to fix before the next release - now that I know why it's happenning.

[2021-07-04 10:05] Lite5h4dow commented on #28
ok, I did some research and yeah Bluetooth devices don't do the whole device by id and device by the path. doing some tinkering, I found that the controller actually is using event0 for its events and event1 I believe is for outgoing? (not 100% sure on that but it would seem to make sense. I found the following documentation. hopefully, I've done some of the leg work for you:

- Linux kernel docum

[2021-07-04 17:54] AldaronLau commented on #28
@Lite5h4dow thanks!

[2021-07-04 19:01] AldaronLau commented on #28
@Lite5h4dow I have patched stick to get the controllers from /dev/input/ instead of /dev/input/by-id - everything seems to work the same as it did before with some minor tweaks I made.  Do you want to check to make sure it works?

[2021-07-04 20:24] Lite5h4dow commented on #28
yup still works, but no bluetooth still...

[2021-07-04 20:29] AldaronLau commented on #28
@Lite5h4dow have you tried the Python example in the [link you sent](https://raspberry-valley.azurewebsites.net/Map-Bluetooth-Controller-using-Python/), and does it work?

[2021-07-04 21:31] Lite5h4dow commented on #28
i have, i even tried doing the evtest as recommended in the Linux documentation and got the following (over Bluetooth.)
[code]

[2021-07-05 22:20] AldaronLau commented on #28
@Lite5h4dow I just modified the code to try opening as readonly, then as writeonly if opening as read/write fails.  I think that might be what was needed to make the bluetooth controller work, can you test the new main branch?

[2021-07-07 23:22] AldaronLau commented on #28
@Lite5h4dow Any chance to see if the bluetooth controller works with the latest changes?

[2021-07-07 23:43] AldaronLau commented on #27
@Lite5h4dow I just updated the crate on crates.io to version 0.12.0

[2021-07-10 18:45] Lite5h4dow commented on #28
hey man, sorry I havent gotten back to you sooner, I'm actually moving, hence why I haven't responded or tested yet. I don't get an internet connection and I don't unpack till Wednesday. so it looks like I won't get the chance to test till then. sorry!

[2021-07-10 18:59] AldaronLau commented on #28
@Lite5h4dow No worries, sounds good!

[2021-07-30 13:02] Lite5h4dow commented on #28
ok, ill be able to test this tonight
sorry it took so long only got internet installed a few days ago so everything is taking longer than xexpected. but i should be good to get back to you on this tonight

[2021-08-02 15:08] Lite5h4dow commented on #28
no panic, but still no luck with getting it to read a controller

[2021-08-02 15:15] Lite5h4dow commented on #28
SUCCESS!!!! we have Bluetooth input! 10/10 my man

[2021-08-02 15:17] #28 closed

[2021-08-02 16:18] Lite5h4dow opened #35 "Unknown Linux Button 158"
**Describe the bug**
looks like the screenshare button on the box one controller isn't mapped.

**To Reproduce**
Steps to reproduce the behavior:
1. connect xbox one controller
2. start software
3. press snapshot button (bottom left of the box logo)
4. unknown linux button error

![image](https://user-images.githubusercontent.com/18059545/127892529-f61e5965-1b8a-42c1-bc67-edabf661c037.png)

**Expe

[2021-08-02 17:54] AldaronLau commented on #35
@Lite5h4dow Thanks!  Fixed in 0.12.1, just released - so closing.

[2021-08-02 17:54] #35 closed

[2021-08-03 08:03] Lite5h4dow opened #36 "small mapping issues for the xbox one controller in 0.12.1"
**Current Mapping**
Left Bumper mapped as `ActionH`
Right Bumper mapped as `ActionD`
MenuL mapped as `BumperL`
MenuR mapped as `BumperR`
Left Trigger mapped as `JoyZ`
Right Trigger mapped as `CamZ`
X Button mapped as `ActionC`
Y Button mapped as `ActionV`
Xbox Button (big one in the middle) unmapped `Unmapped Linux Button 139`

**Desktop (please complete the following information):**
 - OS: Linux

[2021-08-03 18:14] AldaronLau commented on #36
@Lite5h4dow what's the Joystick ID printed out by the example program?

[2021-08-03 18:29] Lite5h4dow commented on #36
Connected p1, id: 05005E04E0020309, name: Xbox Wireless Controller

[2021-08-03 18:33] Lite5h4dow commented on #36
L thumbstick press mapped as `TriggerL`
R thumbstick press mapped as `TriggerR`

[2021-08-03 19:37] AldaronLau commented on #36
@Lite5h4dow can you check out the current main branch, and make sure it works correctly with the added mapping?

[2021-08-03 19:47] Lite5h4dow commented on #36
forgive me but ive forgotten how to use a git repo in the compile again

[2021-08-03 19:55] AldaronLau commented on #36
@Lite5h4dow yeah, that should work.

[2021-08-03 20:22] Lite5h4dow commented on #36
almost perfect, x is now  `ActionH` and y is `ActionY`

[2021-08-03 20:31] AldaronLau commented on #36
Due to the fact that X and Y are in different locations on different gamepads, `ActionH` (horizontal) and `ActionV` (vertical) are used instead of having `ActionX` and `ActionY` in stick.  This decision was made so that programmers who want and to code an upwards action, such as jumping or opening a game inventory don't have to check whether to bind it to X or Y, and can reserve the horizontal act

[2021-08-03 20:54] AldaronLau commented on #36
@Lite5h4dow just released the new version on crates.io, so closing.

[2021-08-03 20:54] #36 closed

[2021-08-03 21:16] Lite5h4dow commented on #36
thanks again man!

[2021-11-09 04:14] medakk opened #39 "Nintendo Joycon gyro/accelerometer support"
Thanks for creating this library!
Is there a way to access gyroscope and accelerometer data from Joycons currently? On Ubuntu 20.04 with the [dkms-hid-nintendo](https://github.com/nicman23/dkms-hid-nintendo), there are two input sources I can see:

[code]

js0 corresponds to buttons/analog stick and that works fine in `stick`. The gyro and accelerometer readings seem to be a part of js1. Is there

[2021-11-09 04:21] AldaronLau commented on #39
@medakk Thanks for opening this issue!  /dev/input/js0 and /dev/input/js1 are the old Linux API for joysticks, and stick depends on the new Linux api, evdev.  I believe there should be an equivalent for gyroscope and accelerometer for evdev - but I don't know what that would be.  Have you tested it with the stick example program to see if it prints anything out?

[2021-11-09 05:00] medakk commented on #39
correct. the haptic example doesn't print out anything for those events. I modified the example slightly to print out all events:

[code]

but there is no events for the gyroscope and accelerometer.

I wasn't aware that js is the old API. I can confirm that the gyro works in the jstest-gtk app.

According to dmesg, it might be showing up as two different controllers:

[code]

I'm unfamiliar with a

[2021-11-09 05:35] medakk commented on #39
I tried enumerating evdev devices as described [here](https://python-evdev.readthedocs.io/en/latest/tutorial.html) (had to run as root however. which I didn't expect, since I've setup udev rules for nintendo switch + I can access it in jstest-gtk without root):

[code]

the joycon isn't listed

[2021-11-09 06:01] medakk commented on #39
I think there's an unrelated permission issue involved. If I run as root :fearful: I can see the IMU device. But stick isn't too happy about it.

[code]

[2021-11-09 06:25] medakk commented on #39
Okay so I'm able to get some readings out by disabling that assert and hardcoding a random number for minimum and maximum. It now picks up on the gyro events! (JoyZ)

[code]

so I need to figure out:

* why the ioctl fails/how to get the minimum/maximum
* permissions issue(probably got my udev rule wrong?)
* the "Unknown Linux Misc Code" and other stuff printed out. Though that maybe just from the

[2021-11-09 14:13] AldaronLau commented on #39
@medakk Thanks for investigating further!  ioctl failure looks like it's related to #38.  Currently a work-in-progress to fix it.  It's weird that the permissions are wrong for joycons, not sure what I can do about that.  "Unknown Linux Misc Code" should be trivial enough to fix, should just be an extra branch arm for the match statement.

[2022-01-28 00:25] zeddidragon opened #42 "Unknown Linux Button 319"
**Describe the bug**
When pressing M1 on a Flydigi Apex 2, it's not recognized by stick and an error is output. Error message as following:

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Use a Flydigi Apex 2. Other devices might work as well.
2. Press M1, located on the inside of the right grip.
3. Observe error message.

**Expected behavior**
Similar behavior as other buttons:
[co

[2022-01-28 01:03] zeddidragon commented on #42
https://github.com/libcala/stick/pull/43

[2022-01-28 05:12] AldaronLau commented on #42
@zeddidragon Thanks for the issue and PR!

#### About the naming scheme used by stick:
There's two kinds of naming schemes used for controllers usually: A/B/X/Y (or shapes), and North/South/East/West.  Stick's naming scheme is based on the fact that buttons A and B tend to have meanings associated with their name (Accept and Cancel usually), while X and Y tend to have meanings associated with thei

[2022-01-28 05:53] AldaronLau commented on #42
@zeddidragon Your PR has been merged and released in stick version 0.12.3 on crates.io, so I believe that resolves this issue (re-open if you disagree).  Closing now.

[2022-01-28 05:53] #42 closed

[2022-02-13 04:59] AldaronLau commented on #39
@aspanoz It should be fixed on my fork here: https://github.com/AldaronLau/stick/tree/deps-update - The reason I haven't merged it and released a new version is that the changes broke Windows compilation and I haven't had time to fix yet.  I'll try to get back to it soon.

[2022-02-28 11:56] hkoosha opened #45 "Help needed: how to use stick in tokio?"
Hi!
I want one thread to read stick events, another one to pick up the latest read event and send it off on a network socket. For networking purposes I'm using tokio, not pasts crate.

The issue is, I can't spawn a task with tokio as `Controller` has an `Rc` inside and rust is unhappy about it not being `Send`.

Here's the gist of the code:
[code]
(Please forgive any stupid usage of rust / tokio /

[2022-02-28 12:43] hkoosha commented on #45
I cloned the repo and by turning Rc in stick::Controller into Arc, I still had to implement Send manually to make rust happy. I'm definitely doing something wrong here.

[2022-03-02 01:13] AldaronLau commented on #45
@hkoosha Thanks for opening this issue!  I just put together https://github.com/libcala/stick/pull/46 which should do the work to make the futures `Send` (apparently a [common issue](https://github.com/libcala/wavy/issues/30) people are running into with my crates, so good to fix).  Luckily this change wasn't too much work, let me know if it works or if you have any questions about what I did.

On

[2022-03-02 07:18] hkoosha commented on #45
Awesome! many many thanks.
I will close this and will follow #46 :D

[2022-03-02 07:18] #45 closed

[2022-03-13 17:34] VictorRandall opened #47 "thread 'main' panicked at 'assertion failed: `(left != right)` while running example on Linux"
I am on Linux Mint and i tried to run the example code, however i gave me an error saying:
[code]

I also run with back trace and i gave me this:
[code]

[2022-03-13 19:37] AldaronLau commented on #47
@VictorRandall Thanks for opening this issue!

Noting that this has already being addressed in https://github.com/libcala/stick/pull/38

[2022-06-22 22:25] TroyNeubauer commented on #12
Not sure if there is already any progress on this, but I'd be interesting in picking this up!

[2022-06-23 01:43] AldaronLau commented on #12
@TroyNeubauer I haven't gotten around to it yet, feel free to start but also heads up I am in the process of changing the code for how the API is glued to the implementation to make it easier and more maintainable so merging will be "fun".  It would still be really cool if you wanted to tackle it still and very much appreciated!  I can help figure out the merging stuff.